@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slidebg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(90deg, #495154, #b0ada2, #316b54, #065d2b);
  background-size: 300% 300%;
  animation: slidebg 5s linear infinite;
}
